<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>waduhekISDISpunch</title>

        <!-- <link rel="stylesheet" href="../static/css/cat.css"> -->
         <link rel="stylesheet" href="{{ url_for('static', filename='css/cat.css') }}">
    </head>
    <body>

        <div class="catbox">
            <div class="margin" id="1">
            <img src="https://i.ibb.co/zTv61V5j/huh.jpg">
            <img src="https://i.ibb.co/twH66ww5/paint.jpg">
            <img src="https://i.ibb.co/PvysVMkt/paz.jpg">
            <img src="https://i.ibb.co/xtGgnnJt/hamak.jpg">
            <img src="https://i.ibb.co/0Rnnh0nN/hmph.jpg">
            <img src="https://i.ibb.co/Qv1NdQ3W/grin.jpg">
            <img src="https://i.ibb.co/qF47pMjF/grinch.jpg">
            <img src="https://i.ibb.co/QFPnvGBM/mona.jpg">
            <img src="https://i.ibb.co/4ZDhHQ3F/eepy.jpg">
            <img src="https://i.ibb.co/7tvf2dgy/wuh.jpg">
            </div>
            <div class="margin" id="2">
            <img src="https://i.pinimg.com/originals/69/c8/9a/69c89ac2c10c254944243a07d87b97b3.gif">
            <img src="https://i.pinimg.com/736x/93/1b/37/931b3710d42b966fc6b4eace875eff9a.jpg">
            <img src="https://i.pinimg.com/736x/0d/f0/2d/0df02db58ef98d30bd0bd06addeb952b.jpg">
            <img src="https://i.pinimg.com/736x/16/27/48/1627487318e4c0d3be228a57ffed0aab.jpg">
            <img src="https://i.pinimg.com/736x/6b/cc/82/6bcc8211593962a25bcaa98b8b729068.jpg">
            <img src="https://i.pinimg.com/1200x/b1/f2/82/b1f28202c8d386b99035a0c3398762e8.jpg">
            <img src="https://i.pinimg.com/736x/5a/2c/a2/5a2ca270b794270c298a8d74b9404fc7.jpg">
            <img src="https://i.pinimg.com/736x/f9/da/7a/f9da7a80b523ca742b22bfed79ce0c33.jpg">
            </div>
            <div class="margin" id="3">
            <img src="https://i.ibb.co/Z6rRzyJv/ough.jpg">
            <img src="https://i.ibb.co/0p7kD61r/no.jpg">
            <img src="https://i.pinimg.com/736x/78/02/b7/7802b77ec4c3f5183b28945d3862b8fc.jpg">
            <img src="https://i.pinimg.com/736x/79/39/4e/79394e87e304e32ec91198940fe57b4d.jpg">
            <img src="https://i.pinimg.com/1200x/61/ef/ea/61efea4e8b53ee90b131e4720d6a0477.jpg">
            <img src="https://i.pinimg.com/736x/b7/36/1f/b7361f088080e6825dc5173bd3333c0a.jpg">
            <img src="https://i.pinimg.com/736x/14/35/55/1435552215987ca6237f530016653256.jpg">
            <img src="https://i.pinimg.com/736x/25/62/1b/25621b9fa14ce16d346bdadc7d035785.jpg">
            </div>
        </div>
    </body>