<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WaduhekISDIS</title>

  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
  
  <style>
    @keyframes twinkle {
      0%, 100% { opacity: 0.3; }
      50% { opacity: 1; }
    }
  </style>
</head>
<body>

  <div class="stars-creation">

    <div class="webname">
      <img class="waduhek-gif" src="{{url_for('static', filename = 'css/waduhek_handwritten.gif')}}" alt="waduhek">
      <!-- <img class="waduhek-gif" src="../static/css/waduhek_handwritten.gif" alt="waduhek">  -->
    </div>
    <div class="test-img">
      <a href="https://youtube.com">
        <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTdmdml1eGFpeHQxeDh1YjU2MWRsMm1uM3gzbDc1aDc5Z3dsOWtmNCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/QTxF50wnvVaXDU3IJQ/giphy.webp" class="floating" alt="cyberpunk" >
      </a>
    </div>
    
    <div class="thumbs-up">
      <img src="https://media.tenor.com/ec7YD7GdGywAAAAM/mlbb-cici.gif" class="cici-thumbs-up" alt="pani-poni">
    </div>

    <div class="webbody">
      <div class="stuff">
            <h2 class="titles pixel-font-headline">My stuff</h2>
            <div class="inside-my-stuff">
              <a href="#HOME" class="links pixelify-bold">Home</a>
              <a href="#stats-box"class="links pixelify-bold">Stats</a>
              <a href="#INSPIRATION" class="links pixelify-bold">Inspiration & Tour</a>
              <a href="#ABOUT" class="links pixelify-bold">About Me</a>
              <a href="#UPDATES" class="links pixelify-bold">Updates</a>
              <a href="#NEKO-PUNCH" class="links pixelify-bold">neko-punch</a>
            </div>
            <h2 class="titles pixel-font-headline">Off site</h2>
            <div class="inside-my-stuff">
              <a href="/meme" class="links pixelify-bold">Random Meme</a>
              <a href="http://fmhy.net"class="links pixelify-bold">Offsite-2</a>
              
            </div>
      </div>
      <div class="main-thing">
        <div class="welcome-text pixelify-text">  
          <p>!!Welcome!!</p>   
        </div>
        <div>
          <p class = "welcome-anim-text pixelify-text">!!!Site still under Construction!!! </p>
        </div>

        <div class = "body-text-container">
          <section id="HOME">
            <div class="main-stuff-topic pixelify-bold" style="color:chartreuse">Home</div>
            <p class="stuff-body pixelify-text">
              Handcoded pixels and ideas, straight from my brain(and some ideas from nice people on the internet).I'm sandesh and this site is my digital garden - a place for experiments, art, and random thoughts.You'll find blogs,and some music I like(later in the future as I learn how to add those).Scroll down to see what's new, or click around for hidden secrets(I like doing these).I am not so great writing long stuff but you will actually see this site growing as time goes on.
            </p>
          </section>
        </div>

        <section class="stats-box">
          <p class="block-p pixelify-text">
            Created : 9/14/2025   
          </p>
          <p class="block-p pixelify-text">
            Last-Updated : 9/24/2025  
          </p>
          <p class="block-p pixelify-text">  
            Visitors : ABSOLUTE <span style="color:red">0</span>  
          </p>
        </section>

        <div class="body-text-container">
          <section id="INSPIRATION">
            <div class=" main-stuff-topic pixelify-bold" style="color:cadetblue"">Inspiration</div>
            <p class=" stuff-body pixelify-text">
              Tired of seeing the same generic websites everywhere, I decided to break away from the usual templates and create something different,something that reflects true individuality. This project is a personal venture to push the boundaries of web design, offering a space that combines creativity, innovation, and authenticity. Every pixel, every interaction, is carefully crafted to offer a refreshing experience that's as unique as the ideas behind it.
              <br>
              Here, it's not about fitting into the mold, but about creating something that stands out and something that feels fresh.
              <br> Here, lemme give you a short tour of this website.I've made this website as user frendly as possible, so you wouldn't have problem venturing alone, also dont worry, the neighborhood is safe here.
              <br> 

            </p>
          </section>
        </div>

        <div class = "body-text-container">
          <section id="ABOUT">
            <div class="main-stuff-topic pixelify-bold" style="color:black">About Me</div>
            <p class="stuff-body about-body pixelify-text">
            Name: Sandesh <br>
            Country: Nepal <br>
            Hobby: Travelling and just laying around. <br>
            </p>
          </section>
        </div>

        <div class = "body-text-container">
          <section id="UPDATES">
            <div class="main-stuff-topic pixelify-bold" style="color:red">Updates</div>
              <p class="stuff-body pixelify-text">
                <span class="update-date">September 15, 2025</span> <br><br>
                On this update I completed basic skeleton of this site , basically finished creating all the dummy placeholders, and actual contents will take those place lates. Thank you for bracing with me and hope you will continue to do so in the future. <br><br>
                
                <span class="update-date">September 24, 2025</span> <br><br>
                This update took longer than expected, probably because I went to visit my relative's place.This update consists of addition of actual cat gallery as promised and a meme page. <br><br>

                
              </p>
          </section>
        </div>

        <div class = "body-text-container">
          <section id="NEKO-PUNCH">
            <a class="main-stuff-topic pixelify-bold" href="gallery" style="color:beige">NEKO PUNCHI</a>
            <p class="stuff-body pixelify-text">
              This section was originally created for awesome cat pics , but the section is now relocated to <a href="/gallery">Cat gallery.</a>.but since i am a little short on cat pics, this section will be constantly updated.As for now, it contains the picture of the pink panther.Big shoutout to <span style="color: red;">u/Fun_Marionberry2281</span> on reddit for letting me borrow their code. zzzz
            </p>
          </section>
        </div>
        <div id="COPYRIGHT" class="pixel-font-headline">No copyright, you can steal anything from here.</div>
      </div>

      <div class="community">
        <div class="me-class">
          <img class = "me-open"src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjFqdHd1OXR0eGR1bDM4aWtleG0xYWtyZHc3cWIxajZrN2hqZnJrbiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/CdUPebPzF2kOQ/100.webp" alt="open">
        </div>
        <div class="for-you-section">
          <p class="titles pixelify-bold">For You</p>
          <a class="links pixelify-text construction-target" href="">Draw it</a>          
          <span class="links comment-reminder pixelify-text">say something below</span>
          <a class="links pixelify-text construction-target" href="newsletter-thingy">Newsletter</a>
          <span class="notice pixelify-text">Other content will be added later.
          </span>
        </div>
        <div class="comment-form-area">
          <div id="COMMENT-AREA">
            {% for comments in all_comments %}
              <div class="indiv-comment pixelify-text"><span id="DATE">{{comments.date_commented.date() }} </span> <br> <span id = "USR" class = "Username">{{comments.username}}</span> : <span>{{comments.comment}} </span></div>
              <span class="pixelify-text">***************************************************************</span>
              {% endfor %}
          </div>
          <div id="INTERACTION">
            <form action="/" method="POST" class="form-box">
              <div class = "Username">
                <textarea class = "Username-box pixelify-text" name="Username" id="Username">Your username please</textarea>
              </div>
              <div class="Comments">
                <textarea class = "Comment-text-box pixelify-text" name="Comments" id="COMMENT">Hey... say something!</textarea>
              </div>
              <input type="Submit" value="Submit">
            </form>
          </div>
        <div>
    </div>

      <script>
        const STAR_COUNT = 250;
        const stars = document.createElement("div");
        stars.id = "stars";
        document.body.appendChild(stars);

        function createStars() {
          stars.innerHTML = "";

          const width = document.documentElement.scrollWidth;
          const height = document.documentElement.scrollHeight;

          stars.style.height = height + "px";

          for (let i = 0; i < STAR_COUNT; i++) {
            const star = document.createElement("div");
            star.className = "star";

            star.style.left = Math.random() * width + "px";
            star.style.top = Math.random() * height + "px";
            star.style.animationDuration = 1.5 + Math.random() * 3 + "s";

            stars.appendChild(star);
          }
        }

        createStars();
        window.addEventListener("resize", createStars);
        
        window.onload = function () {
          const container = document.getElementById("COMMENT-AREA");
          container.scrollTop = container.scrollHeight;
        };

      </script>
  </div>
</body>
</html>
